.form-body{
    width: 80%;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.body-style{
    background-color: whitesmoke;
    z-index: 0;
}
.media img{
    width: 30%;
}
.footer-style{
    display: flex;
    z-index: 0;
}
.social-name{
    display: flex;
    align-content: center;
}
.social-media{
    display: flex;
}
.navbar-pos{
    position: fixed;
    width: 100%;
    z-index: 1;
}
#form-to-fill{
    padding-top: 5%;
}